name: Build QMK Firmware

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout QMK firmware
        uses: actions/checkout@v4
        with:
          repository: qmk/qmk_firmware
          submodules: recursive
          
      - name: Build firmware
        run: |
          python3 -m pip install qmk
          qmk compile -kb klor/polydactyl -km default
          
      - name: Upload firmware
        uses: actions/upload-artifact@v4
        with:
          name: klor-polydactyl-firmware
          path: "*.uf2"
